:root {
  --kleur-primair: #381d2a;
  --kleur-vervaagd: #ffa552;
  --kleur-achtergrond: #c4d6b0;
  --font-family-title: Big Shoulders Display, sans-serif;
  --font-family-body: Work Sans, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  animation: fadeIn 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;

  font-family: var(--font-family-body);
  color: var(--kleur-primair);
  line-height: 1.8;
  font-size: 1.125rem;
  background: var(--kleur-achtergrond);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

div {
  width: 100%;
}

h1 {
  color: var(--kleur-primair);
  font-family: var(--font-family-title);
  font-size: 3.5rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0;
  line-height: 1.25;
}

h2 {
  color: var(--kleur-primair);
  font-family: var(--font-family-title);
  font-size: 2rem;
  text-transform: uppercase;
}

h3 {
  font-family: var(--font-family-title);
  text-transform: uppercase;
  font-size: 1.5rem;
}
img + h3,
figcaption + h3 {
  margin-top: 3.5rem;
}

h3 + p {
  margin-top: 1rem;
}
p + p {
  margin-top: 1rem;
}

h2 + span {
  margin-top: 2rem;
}

p + a {
  display: block;
  margin-top: 1rem;
  opacity: 0.6;
}
a {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
}

svg {
  fill: currentColor;
  height: 100%;
  width: 100%;
}

* + img {
  margin-top: 3rem;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

figcaption {
  font-size: 1rem;
  opacity: 0.7;
  text-align: center;
  margin-top: 3px;
}

@media (min-width: 540px) {
  h1 {
    font-size: 5rem;
  }
}
